@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --Neutral0: hsl(0, 0%, 100%);
  --Neutral300: hsl(252, 6%, 83%);
  --Neutral500: hsl(245, 15%, 58%);
  --Neutral700: hsl(245, 19%, 35%);
  --Neutral900: hsl(248, 70%, 10%);

  --Orange500: hsl(7, 88%, 67%);
  --Orange700: hsl(7, 71%, 60%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url(./assets/images/background-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Inconsolata", monospace;
  color: var(--Neutral0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.pattern-lines {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
}

header h1 {
  font-weight: 900;
  text-align: center;
  font-size: 25px;
}

header p {
  color: var(--Neutral300);
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 35px;
  font-size: 18px;
}

.logo {
  padding: 20px;
  padding-bottom: 40px;
  width: 70%;
  height: auto;
}

#drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 120px;
  padding: 1.5em;
  border: 1px dashed var(--Neutral500);
  border-radius: 10px;
  color: hsla(252, 6%, 83%, 0.6);
  cursor: pointer;
  background-color: hsla(245, 19%, 35%, 0.6);
  margin-bottom: 10px;
  backdrop-filter: blur(2px);
}

#drop-zone img {
  background-color: hsla(243, 10%, 36%, 0.65);
  border-radius: 7px;
  padding: 3px;
  height: 40px;
  width: auto;
  margin-bottom: 20px;
  border: 2px solid hsla(243, 10%, 39%, 0.65);
  opacity: 90%;
}

.upload-image p {
  color: var(--Neutral500);
  font-weight: 400;
  text-align: left;
  font-size: 11px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.upload-image h3 {
  color: var(--Neutral0);
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
}

.upload-info {
  display: flex;
}

.upload-info img {
  height: 16px;
  width: auto;
}

#file-input {
  display: none;
  cursor: pointer;
  width: 100%;
}

#remove-btn,
#change-btn {
  display: none;
}

form {
  width: 100%;
}

form h3 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 15px;
}

form input {
  border-radius: 10px;
  color: hsla(252, 6%, 83%, 0.6);
  cursor: pointer;
  background-color: hsla(245, 19%, 35%, 0.6);
  margin-bottom: 10px;
  backdrop-filter: blur(2px);
  border: 1px solid var(--Neutral500);
  padding: 1em;
  padding-right: 10em;
  width: 100%;
}

#generate-btn {
  background: linear-gradient(hsl(7, 88%, 67%), hsl(7, 71%, 60%));
  padding: 0.6em;
  width: 100%;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  color: rgb(38, 0, 38);
  font-family: "Inconsolata", monospace;
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

form input:focus,
#drop-zone:hover {
  outline: none;
  background-color: hsla(246, 16%, 50%, 0.6);
  transition: ease-in-out 0.2s;
}

.generated-ticket {
  display: none;
}
@media (min-width: 600px) {
  body {
    background-image: url(./assets/images/background-tablet.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1280px) {
  body {
    background-image: url(./assets/images/background-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
