@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --Neutral0: hsl(0, 0%, 100%);
  --Neutral300: hsl(252, 6%, 83%);
  --Neutral500: hsl(245, 15%, 58%);
  --Neutral700: hsl(245, 19%, 35%);
  --Neutral900: hsl(248, 70%, 10%);

  --Orange500: hsl(7, 88%, 67%);
  --Orange700: hsl(7, 71%, 60%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: url(./assets/images/background-mobile.png);
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  font-family: "Inconsolata", monospace;
  color: var(--Neutral0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

header h1 {
  font-weight: 900;
  text-align: center;
  font-size: 25px;
}

header p {
  color: var(--Neutral500);
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 35px;
  font-size: 18px;
}

.logo {
  padding: 20px;
  padding-bottom: 40px;
  width: 70%;
  height: auto;
}

@media (min-width: 600px) {
  body {
    background-image: url(./assets/images/background-tablet.png);
  }
}

@media (min-width: 1280px) {
  body {
    background-image: url(./assets/images/background-desktop.png);
  }
}
